<div>
  <h2>About Coupon System</h2>
  <p>First you have to login with client type, email and password</p>
  <h3>Admin:</h3>
  <p>can add, delete or update companies and customers</p>

  <h3>Company:</h3>
  <p>
    can add, delete or update coupons, get all the company cuopons and get all
    coupons by max price
  </p>

  <h3>Customer:</h3>
  <p>
    can purchase coupons, get all coupons in the system, get his coupons, get
    his coupons by category or by max price
  </p>

  <img src="/assets/images/coupon_gif.gif" alt="" />
</div>
