<div>
  <form action="" #formInfo="ngForm">
    <legend>Add Coupon</legend>
    <input
      name="title"
      #titleInput
      placeholder="title"
      type="text"
      [(ngModel)]="coupon.title"
      required
      pattern="^[A-Z].*$"
    />
    <br />
    <input
      name="description"
      #descriptionInput
      placeholder="description"
      type="text"
      [(ngModel)]="coupon.description"
      required
    />
    <br />
    <select name="categoty" #categorySelect [(ngModel)]="selectedCategory">
      <option *ngFor="let categoty of categories">{{ categoty }}</option>
    </select>
    <br />
    <input
      name="startDate"
      #startDateInput
      placeholder="startDate"
      type="date"
      [(ngModel)]="coupon.startDate"
      required
    />
    <br />
    <input
      name="endDate"
      #endDateInput
      placeholder="endDate"
      type="date"
      [(ngModel)]="coupon.endDate"
      required
    />
    <br />
    <input
      name="amount"
      #amountInput
      placeholder="amount"
      type="number"
      [(ngModel)]="coupon.amount"
      required
    />
    <br />
    <input
      name="price"
      #descriptionInput
      placeholder="price"
      type="number"
      [(ngModel)]="coupon.price"
      required
    />
    <br />
    <input
      type="button"
      value="Add Coupon"
      (click)="addCoupon()"
      [disabled]="formInfo.invalid"
    />
  </form>
</div>
