div {
  /* position: absolute; */
  /* right: 2%;
  top: 20%; */
  border: solid black;
  /* padding: 5px; */
  /* background-color: rgb(151, 81, 34); */
  height: 100%;
  margin: 0;
  padding: 0px;
}
