<div>
  <form action="" #formInfo="ngForm">
    <legend>Edit Coupon</legend>
    <input
      value="{{ coupon.title }}"
      name="title"
      #titleInput
      placeholder="title"
      type="text"
      [(ngModel)]="coupon.title"
      required
      pattern="^[A-Z].*$"
    />
    <br />
    <input
      value="{{ coupon.description }}"
      name="description"
      #descriptionInput
      placeholder="description"
      type="text"
      [(ngModel)]="coupon.description"
      required
    />
    <br />
    <span>Category:</span>
    <br />
    <select name="categoty" #categorySelect [(ngModel)]="selectedCategory">
      <option *ngFor="let categoty of categories">{{ categoty }}</option>
    </select>
    <br />
    <input
      value="{{ coupon.startDate }}"
      name="startDate"
      #startDateInput
      placeholder="startDate"
      type="date"
      [(ngModel)]="coupon.startDate"
      required
    />
    <br />
    <input
      value="{{ coupon.endDate }}"
      name="endDate"
      #endDateInput
      placeholder="endDate"
      type="date"
      [(ngModel)]="coupon.endDate"
      required
    />
    <br />
    <input
      value="{{ coupon.amount }}"
      name="amount"
      #amountInput
      placeholder="amount"
      type="number"
      [(ngModel)]="coupon.amount"
      required
    />
    <br />
    <input
      value="{{ coupon.price }}"
      name="price"
      #descriptionInput
      placeholder="price"
      type="number"
      [(ngModel)]="coupon.price"
      required
    />
    <br />
    <input
      type="button"
      value="Edit Coupon"
      (click)="editCoupon()"
      [disabled]="formInfo.invalid"
    />
  </form>
</div>
