<div>
  <form action="" #formInfo="ngForm">
    <legend>Add Company</legend>
    <input
      name="name"
      #nameInput
      placeholder="name"
      type="text"
      [(ngModel)]="company.name"
      required
      pattern="^[A-Z].*$"
    />
    <br />
    <input
      name="email"
      #emailInput
      placeholder="email"
      type="text"
      [(ngModel)]="company.email"
      required
    />
    <br />
    <input
      name="password"
      #passwordInput
      placeholder="password"
      type="password"
      [(ngModel)]="company.password"
      required
    />
    <br />
    <input
      type="button"
      value="Add Company"
      (click)="addCompany()"
      [disabled]="formInfo.invalid"
    />
  </form>
</div>
