<div>
  <form action="">
    <legend>Login</legend>
    <br />
    <select name="type" #typeInput [(ngModel)]="selectedValue">
      <option *ngFor="let type of clientType">{{ type }}</option>
    </select>
    <br />
    <input
      name="email"
      #emailInput
      type="text"
      [(ngModel)]="loginItem.email"
      placeholder="email"
      type="email"
    />
    <br />
    <input
      name="password"
      #passwordInput
      type="text"
      [(ngModel)]="loginItem.password"
      placeholder="password"
      type="password"
    />
    <br />
    <button (click)="login()">Login</button>
  </form>
  <h3>{{ token }}</h3>
  <h3 *ngIf="isLoggedin">Login success :)</h3>
</div>
